:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --white: #FFF;
    --primary-font-family: "Inter", sans-serif;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
  }
  
  header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 250px;
    text-align: center;
    background: linear-gradient(208.83deg, #201E1C 16.69%, #F7931A 100%)
  }
  
  header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
  }
  
  .header--title-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 20px;
    text-align: center;
    align-self: center;
  }
  
  .header--title-container h1 {
    width: 95%;
    align-self: center;
    font-size: 3rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
  }
  
  .header--title-container p {
    align-self: center;
    width: 95%;
    margin-top: 25px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
  }
  
  .header--title-container .header--button {
    position: absolute;
    left: calc(50% - 114.5px);
    top: 188px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);  
    border: none;
    border-radius: 5px;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
  }
  
  .header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(/Assets/Icons/down-arrow.svg);
  }
  
  main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
  }
  
  .main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
  }
  
  .main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(/Assets/images/bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .main-exchange-container h2 {
    margin-bottom: 50px;
    font-size: 3.1rem;
    font-weight: bold;
    height: 2.6rem;
    color: var(--black);
  }
  
  .main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575; 
  }
  
  .main-tables-container {
    display: flex;
    height: 400px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 20px;
    padding: 0 50px;
  }
  
  .main-currency-table {
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    width: 70%;
    min-width: 235px;
    max-width: 300px;
    height: 369px;
    margin: 0 auto;
    font-family: var(--primary-font-family);
    scroll-snap-align: center;
  }
  
  .main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
  }
  
  .currency-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
  }
  
  .currency-table--container table {
    width: 100%;
    height: 100%;
  }
  
  .currency-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--gray);
    background-color: var(--white);
  }
  
  .currency-table--container .table__top-left {
    border-radius: 15px 0 0 0;
  }
  
  .currency-table--container .table__top-right {
    border-radius: 0 15px 0 0;
  }
  
  .currency-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
  }
  
  .currency-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
  }
  
  .currency-table--container .table__right {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
  }
  
  .currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(/Assets/Icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(/Assets/Icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .main-commission-table {
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    width: 70%;
    min-width: 235px;
    max-width: 300px;
    height: 369px;
    margin: 0 auto;
    font-family: var(--primary-font-family);
    scroll-snap-align: center;
  }
  
  .main-commission-table .commission-table--title {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
  }
  
  .commission-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
  }
  
  .commission-table--container table {
    width: 100%;
    height: 100%;
  }
  
  .commission-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--gray);
    background-color: var(--white);
  }
  
  .commission-table--container .table__top-left {
    border-radius: 15px 0 0 0;
  }
  
  .commission-table--container .table__top-right {
    border-radius: 0 15px 0 0;
  }
  
  .commission-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
  }
  
  .commission-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
  }
  
  .commission-table--container .table__right {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
  }
  
  .currency-table--date {
    background-color: var(--soft-orange);
  }
  
  .commission-table--date {
    background-color: var(--soft-blue);
  }
  
  .table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
    line-height: 1.5rem;
  }
  .table--date p {
    font-size: 1.5rem;
    color: var(--warm-black);
  }
  
  .table--title {
    align-self: flex-start;
    padding-left: 20px;
  }
  
  .main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
  }
  
  .product-detail--bata-logo {
    position: absolute;
    left: calc(50% - 20px);
    top: -12.5px;
    width: 40px;
    height: 25px;
    background-image: url(/Assets/images/papa.svg);
  }
  
  .product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
  }
  
  .product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--white);
  }
  
  .product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
  }
  
  .product-detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  }
  
  .product-detail--card .clock {
    background-image: url(/Assets/Icons/clock.svg);
  }
  
  .product-detail--card .eye {
    background-image: url(/Assets/Icons/eye.svg);
  }
  
  .product-detail--card .dollar-sign {
    background-image: url(/Assets/Icons/dollar-sign.svg);
  }
  
  .product-detail--card .check-circle {
    background-image: url(/Assets/Icons/check-circle.svg);
  }
  
  .product-card-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .product--card-title {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--white);
  }
  
  .product--card-body {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
  }
  
  .bitcoin-baby-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(/Assets/images/bitcoinbaby2x.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .bitcoin-baby-img-container h2 {
    padding-top: 60px;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--white);  
  }
  
  .main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
  }
  
  .plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  
  .plans--title h2 {
    padding-top: 50px;
    font-size: 2.9rem;
    font-weight: bold;
    line-height: 2.8rem;
    color: var(--black);
  }
  
  .plans--title p {
    padding-top: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2rem;
    color: #757575;
  }
  
  .plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    gap: 20px;
    padding: 0 50px;
  }
  
  .plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 224px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 10px;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  }
  
  .recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    font-size: 1.6rem;
    padding-top: 7px;
    top: calc(-15.5px);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: white;
  }
  
  .plan-card--title {
    padding-top: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
  }
  
  .plan-card--price {
    display: flex;
    padding: 5px 0;
    color: black;
  }
  
  .plan-card--price p {
    font-size: 5.3rem;
    font-weight: bold;
  }
  
  .plan-card--price span {
    padding-left: calc(50% - 31.275px);
    font-size: 1.4rem;
    font-weight: 300;
  }
  
  .plan-card--saving {
    font-size: 1.4rem;
    color: #757575;
  }
  
  .plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: #FAF8F7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
  }
  
  .plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/Assets/Icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
  }
  
  footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
  }
  
  footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  
  footer .left ul {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    list-style: none;
  }
  
  .left li {
    margin: 10px 0;
  }
  
  .left a {
    text-decoration: none;
    color: white;
  }